### Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Environment
.env
.env.*

### Databases
*.sqlite
*.sqlite3
*.db
database.sqlite

### Build / output
dist/
build/

### Logs
logs/
*.log

### Coverage
coverage/

### OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace

### Optional
/.cache/
.parcel-cache/
